*:focus {
    outline:none;
}

body {
    background-color: $background_color;
    color: $tardis_color;
    // font-size: 5rem;
    // cursor: url(../images/screwdriver.png), auto;
}

.form__wrapper {
    width: 100vw;
    height: 100vh;
}

.form-container {
    font-size: 5rem;
    font-weight: 800;
    margin-left: 2rem;
}

.form-container input[type=text] {
    color: $tardis_color;
    border: none;
    font-size: 2.5rem;
    line-height: 2;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input[type=text]{
    background: transparent;
    border: none;
}

// input[type=checkbox] {
//     // zoom: 4;
//     height: 3rem;
// }

.special-options {
    background-color: $tardis_color;
    border: none;  
    padding: 1rem;
}

.form__btn {
    width: 100%;
}

.btn {
    color: $tardis_color;
    border: none;   
    background-color: $background_color;
    font-size: 4rem;
    font-weight: 800;
    cursor: pointer;  
    width: 8rem;
    margin-top: 2rem;
}

.form-control {
    background-color: $background_color;
    color: $tardis_color;
    font-size: 4rem;
    font-weight: 800;
    border: 10px solid $tardis_color;  
    padding-top: 2rem;
}

.checkbox {
  background-color: $tardis_color !important;

}

.select {
    margin-top: 3rem;
}

.special-options {
    background-color: $background_color;
    color: $tardis_color;
    font-size: 4rem;
    position: absolute;
    margin-left: 2rem;
    font-weight: 800;
    border: 10px solid $tardis_color;  
}

input[type=checkbox] {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    cursor: pointer;
    font-size: 27px;
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // appearance: none;
    // outline: 0;
    // background: $tardis_color;
    // height: 30px;
    // width: 30px;
    // padding-top: 2.5rem;
    // border: none;
  }
  
  input[type=checkbox]:after {
    content: " ";
    background-color: $tardis_color;
    display: inline-block;
    visibility: visible;
  }
  
  input[type=checkbox]:checked:after {
    content: "\2714";
    
  }

 