body {
    background-color: $background_color;
    color: $tardis_color;
    font-size: 5rem;
}

.form__wrapper {
    width: 100vw;
    height: 100vh;
}

.form-container {
    font-size: 5rem;
    font-weight: 800;
    margin-left: 2rem;
}

.form-container input[type=text] {
    color: $background_color;
    font-size: 1rem;
    text-align: center;
    line-height: 2;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input[type=text]{
    background: $tardis_color;
    border: none;
}

input[type=checkbox] {
    zoom: 4;
    height: 3rem;
}

.special-options {
    background-color: $tardis_color;
    border: none;  
    padding: 1rem;
}

.form__btn {
    width: 100%;
}

.btn {
    color: $background_color;
    background-color: $tardis_color;
    border: none;
    padding: 1rem;
    cursor: pointer;  
    width: 8rem;
    margin-top: 2rem;
}

.form-control {
    background-color: $tardis_color;
    border: none;  
    padding-top: 2rem;
}


